.container {
    display: inline-block;
    width: 25rem;
    height: 15rem;
    margin: 0.5rem;
    position: relative;
}


.Card_container_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25rem;
    height: 15rem;
    max-width: 25rem;
    max-height: 15rem;
    box-shadow:2px 2px 8px 2px rgba(189, 186, 186, 0.705);
    
}

.Card_container_box:hover {
    box-shadow:3px 3px 12px 3px rgb(153, 152, 152);
}

.userName {
    display: flex;
    flex-direction: row;
    background-color: rgb(70, 14, 4);
    width: auto;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
}



.userName span {
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    margin-left: 0.5rem;
}


.user_detail_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.label_container {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    padding: 0.5rem 0;
}

.label_container > span {
    padding-left: 0.5rem;
    font-family: inherit;
    font-size: 0.8rem;
}

.user_data {
    width: 70%;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgba(97, 95, 95, 0.473);
    font-family: inherit;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.699);
}

.button_container {
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.button_container button {
    width: 20%;
    padding: 0.5rem 0;
    border: 1px solid rgb(161, 41, 20);
    color: white;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: rgb(161, 41, 20);
    border-radius: 3px;
    margin: 0.5rem;
}

.button_container button:focus {
    outline: none;
}

.button_container button:hover {
    background-color: rgb(70, 14, 4);
    border-color: rgb(70, 14, 4);
}